# Exclude files from exporting
.github        export-ignore
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore

# Exclude from diffs
CHANGELOG.md linguist-generated
*.css linguist-generated