/** CSS Input 3 */
@media screen and (min-width: 640px)
{
	body
    {
		font-size: 1.125rem;
	}
    
    .container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        gap: 0 2rem;
    }
    .item
    {
        flex: 0 0 50%;
        margin: 0;
    }
}