/** CSS Input 1 */
html,
*,
::before,
::after
{
    box-sizing: border-box;
}

html
{
	line-height: 1.4;
	font-size: 16px;
	font-size-adjust: 0.5;
	font-weight: 400;
	text-size-adjust: none;
}

body
{
    background-color: #fff;
    color: #000;
    font-size: 1rem;
}

header,
footer
{
    text-align: center;
}

main
{
    width: 100%;
    max-width:800px;
    margin: 0 auto;
}

h1
{
    margin: 1rem 0 0.5rem 0;
    font-size: 2em;
}

p
{
    margin: 1rem 0;
}